*~
*.o
Debug/
Release/
cyu3lpp.a
util/elf2img/elf2img
FX3_SDK_1_3_1_SRC/FX3/boot_fw/libsrc/*.a
FX3_SDK_1_3_1_SRC/FX3/boot_fw/lib/
FX3_SDK_1_3_1_SRC/sdk/bin/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/dma/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/dma/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/fxapp/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/fxapp/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/lpp/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/lpp/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/pport/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/pport/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/storage/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/storage/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/system/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/system/fx3_debug/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/usb/fx3_release/
FX3_SDK_1_3_1_SRC/sdk/firmware/src/usb/fx3_debug/
firmware/u3p_firmware/lib/*/cyfxapi.a
firmware/u3p_firmware/lib/*/cyu3lpp.a
firmware/u3p_firmware/lib/*/cyu3sport.a
firmware/u3p_firmware/lib/*/cyu3threadx.a
util/cyusb_linux_1.0.4/lib/*.so*
util/cyusb_linux_1.0.4/bin/
firmware/cystorbootwriter/*.elf
firmware/cystorbootwriter/*.map
firmware/cystorbootwriter/*.img
util/cyfwstorprog_linux/cyfwstorprog
